image: node:latest

stages: 
  - build
  - test
  - deploy

cache:
  paths:
    - node_modules/

services:
  - mongo:latest

install-dependencies:
  stage: build
  script: 
    - npm install
  artifacts:
    paths:
      - node_modules/

unit-tests:
  stage: test
  script: 
    - npm run test

# write the heroku-deployment job here
heroku-deployment:
    stage: deploy
    script:
     - npm install --production
     - (echo "machine git.heroku.com"; echo " username shilpa.patwary13@gmail.com"; echo " password $HEROKU_PASSWORD") > ~/.netrc
     - git push https://git.heroku.com/socket-io-12122018.git HEAD:master
