<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/boards.css" />
    
</head>
<body>
    <header>
        <section><h2>{{ id }}</h2></section>
        <section class="addboard"><span class="info">Carete a Board</span><span id="createBoardIcon">+</span></section>
    </header>
    <section>
        
    </section>
    <footer>
        <section></section>
    </footer>
    
    <script src="./js/boards.js"></script>
</body>
</html>


