<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
   <h2>Register</h2>
    <form action="/auth/register" method="POST">
        <input type="text" name="username"><label>username</label>
        <input type="password" name="password"><label>password</label>
        <input type="submit" value="Register">
    </form>
</body>
</html>