body, h2{
    margin:0;
}
header {
  height:50px;
  text-align: center;
  background-color: gray;
  line-height:50px;
  color:#ffffff;
  display:flex;
  justify-content:space-between;
}
header section{
    margin-left:10px;
}
.addboard{
   cursor: pointer;
    font-weight: bold;
    font-size:60px;
    margin-right:40px;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0;
}
.board{
    width:250px;
    height:100px;
    list-style: none;
    border:1px solid #000000;
    margin:10px;
    background-color: #3267a4;
    color:#ffffff;
    cursor: pointer;
}
.info{
    display: none;
    color:#ffffff;
    font-size:15px;
}
#addboardsIcon:hover .info{
    display:block;
}
.boardHeader{
    display: flex;
    justify-content: space-between;
    padding:0 10px 0 10px;
    height:25px;
    line-height: 25px;
}
.deleteboard{
    cursor: pointer;
}
input, textarea{
    border:0;
    width:100%;
}
input:focus,textarea:focus{
outline: none;
}
.updateboard{
width:15%;
height:20px;
float:right;
cursor:pointer;
border:1px solid #cccccc;
background-color: gray;
color:#ffffff;
text-align: center;
margin-right:5px;
}
.boardTitle{
flex-grow: 2;
}
