body, h2{
    margin:0;
}
header {
  height:50px;
  text-align: center;
  background-color: gray;
  line-height:50px;
  color:#ffffff;
  display:flex;
  justify-content:space-between;
}
header section{
    margin-left:10px;
}
.addWorkspace{
    cursor: pointer;
     font-weight: bold;
     font-size:60px;
     margin-right:40px;
 }
 .info{
    display: none;
    color:#ffffff;
    font-size:15px;
}
#workspaceHeader{
    cursor:pointer;
}
.hidden{
    display:none;
}
#workspaceContainer{
    width: 35%;
    border: 1px solid gray;
    padding: 0;
    margin-left: 5%;
}
#workspaceContainer li{
    list-style: none;
    border-bottom:1px solid gray;
    padding:2%;
    background-color: #3267a4;
}
.workspace{
    display: flex;
    justify-content: space-between;
    padding:0 10px 0 10px;
    height:25px;
    line-height: 25px;
}
.deleteWorkspace{
    cursor: pointer;
}
#workspaces input, #workspaces textarea{
    border:0;
    width:100%;
}
input:focus,textarea:focus{
outline: none;
}

.workspaceTitle{
color: #ffffff;
    background-color: #3267a4;
    width: 85%;
}
.updateWorkspace{
    flex-grow:1;
}
.success{
    background-color: #8bc34a;
}
#workspaceContainer .success{
    background-color: #8bc34a;
}
#addWorkspace{
    cursor: pointer;
}
.workspace i{
    color: #5ebdd4;
    font-size:18px;
    margin:1% 2% 0 0;
    cursor:pointer;
}
.workspace i:hover{
    color: #00fff5;
}


.channelParentContainer .addchannel{
    cursor: pointer;
     font-weight: bold;
     font-size:60px;
     margin-right:40px;
 }
 .channelParentContainer ul{
     margin:0;
     padding:0;
 }
 .channelParentContainer li{
     width:400px;
     height:50px;
     list-style: none;
     border-bottom:1px solid #000000;
 }
 .channelParentContainer .info{
     display: none;
     color:#ffffff;
     font-size:15px;
 }
 .channelParentContainer #addchannelsIcon:hover .info{
     display:block;
 }
 .channelParentContainer .channelHeader{
     display: flex;
     justify-content: space-between;
     padding:0 10px 0 10px;
     height:100%;
     cursor:pointer;
 }
 
 .channelParentContainer .mainSection{
     display:flex;
     height:100vh;
 }
 .channelParentContainer .channelsContainer{
     display:flex;
     flex-direction:column;
     height:100%;
 }
 .channelParentContainer .channelsSection{
     border-right:1px solid black;
 }
 
 .channelParentContainer  .messageSection{
     flex-grow: 3;
 }
 
 .channelParentContainer .updatechannel{
 width:15%;
 height:20px;
 float:right;
 cursor:pointer;
 border:1px solid #cccccc;
 background-color: gray;
 color:#ffffff;
 text-align: center;
 margin-right:5px;
 }
 .channelParentContainer .channelTitle{
 flex-grow: 2;
 line-height:50px;
 }
 .channelParentContainer .messageInput{
     width:100%;
 }
 
 .channelParentContainer .messageContainer{
     height:429px;
     padding:2%;
     overflow: auto;
 }
 .channelParentContainer .messageInput{
     height:90px;
 }
 
 .channelParentContainer .channelMessages form{
     position: relative;
 }
 .channelParentContainer  .submitMessage{
     width: 10%;
     right: 0%;
     bottom: 0%;
     height: 95px;
     position: absolute;
 }
 .channelParentContainer  .channelMessages{
     display: flex;
     flex-direction: column;
 }

 #addUserForm, #addChannelForm{
    width: 20%;
    margin-left: 5%;
 }